flask
flask-cors
pandas
numpy
scikit-learn
matplotlib
joblib
# Optional, only for extra comparison if you want it:
# xgboost
# Optional, only for LSTM in Colab/GPU:
# tensorflow
requests>=2.31.0
psycopg2-binary>=2.9.9
python-dotenv>=1.0.1
